* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: gray;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  background-color: white;
  border: 3px solid black;
}